## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [202]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')

df.head(100)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Erik,Gross,IT trainer,313-970-3023x5865,erikgross@nelson.com,32098,3998530,2023-05-20,20,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,107,3
96,Kyle,Williams,"Engineer, broadcasting (operations)",+1-432-234-2942,communitywilliams9024@taylor-padilla.biz,81012,8126485,2023-05-17,20,2023,AUM78855-69-8C,consumables,bathroom supplies,63.78,37.88,3.80,45,2
97,Nina,Mullen,Warden/ranger,001-595-635-1880x1626,mullennina3963@fox.info,71958,2164235,2023-03-08,10,2023,DDM14031-55-4U,furniture,seating,40.22,22.70,1.04,32,6
98,Nicholas,Williams,Radio producer,393.560.7337x2039,nicholas.williams.6317@strong.biz,56590,7777768,2023-01-15,2,2023,UZX16759-11-7E,software,accounting,13.68,10.71,7.95,1167,4
99,Katherine,Hughes,Commercial/residential surveyor,984.810.5078x1155,hughesk9561@brown.org,84527,7272566,2023-02-01,5,2023,ZDX29223-32-0B,consumables,paper products,199.05,183.99,8.11,22,4

In [203]:
# View the column names in the data
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [204]:
# Use the describe function to gather some basic statistics
print(df.describe())

          client_id      order_id    order_week    order_year    unit_price  \
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000

          unit_cost   unit_weight           qty   line_number
count  54639.000000  54639.000000  5.463900e+04  54639.000000
mean      99.446073      5.004116  5.702646e+02      2.979667
std      133.164267      5.326599  1.879552e+04      2.436320
min        0.010000      0.000000  0.000000e+00      0.000000
25%       14.840000      1.450000  3.200000e+01      1.000000
50%       49.890000      3.240000  6.800000e+01      3.000000
75%      125.570000      6.890000  1.700000e+02      5.000000
max      846.270000     46.430000  3.958244e+06      9.000000

In [205]:
# Use this space to do any additional research
# and familiarize yourself with the data.
print(df.shape)
print(df.tail())
df['subcategory'].value_counts()

(54639, 18)
         first       last                      job               phone  \
54634   Lauren      Reese           Radio producer  977.877.5272x11382
54635  Derrick      Moore                 Musician        358.661.5483
54636   Monica  Gutierrez         Graphic designer    294.805.9100x339
54637    Wanda    Solomon             Toxicologist       (311)767-4924
54638   Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                    email  client_id  order_id  order_date  \
54634  late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635        derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636           gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637           solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                    belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year         item_id     category  \
54634          17        2023  UCA28532-31-0B     software
54635           6        2023  EBD29277-23-7U  consumables
54636           9        2023  EBD30093-55-9Z  consumables
54637           3        2023  XMZ38239-49-3D    furniture
54638           1        2023  ZCZ05589-50-5D     software

              subcategory  unit_price  unit_cost  unit_weight   qty  \
54634           logistics       83.13      51.60         2.25    33
54635    kitchen supplies      206.59     175.46        11.70    47
54636   bathroom supplies       65.66      57.31         4.16   475
54637              stands        1.48       1.22        18.04   112
54638  project management        3.01       1.61         2.07  1031

       line_number
54634            8
54635            0
54636            6
54637            0
54638            5

subcategory
bathroom supplies     6424
paper products        5874
kitchen supplies      5746
tables                4540
misc                  4286
stands                4201
accounting            3756
project management    3522
plants                3466
wall art              3093
seating               2664
pens                  2603
logistics             1122
telecom                978
audio visual           732
cabling                655
desks                  510
computers              467
Name: count, dtype: int64

In [206]:
# What three item categories had the most entries?
category_counts = df['category'].value_counts()
print(category_counts.head(3))


# print(category_counts)
# print(category_counts.head(20))

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [207]:
# For the category with the most entries,
# which subcategory had the most entries?
subcategory_counts = df['subcategory'].value_counts()
print(subcategory_counts.head(1))

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [208]:
# Which five clients had the most entries in the data?
top_clients = df['client_id'].value_counts()

print(top_clients.head())

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [209]:
# Store the client ids of those top 5 clients in a list.
top_clients_list = [33615, 66037, 46820, 38378, 24741]
print(top_clients_list)

[33615, 66037, 46820, 38378, 24741]

In [210]:
# How many total units (the qty column) did the
# client with the most entries order order?

top_client = df['client_id'].value_counts().idxmax()
##grabbing the id of top client

top_client_orders = df[df['client_id'] == top_client]
##setting df to varibale that holds top clients entries info.

total_units_ordered = top_client_orders['qty'].sum() 
##adding total qty units orded of top client.

print(f"The total units ordered for the client with the most entires is: {total_units_ordered} units.")

The total units ordered for the client with the most entires is: 64313 units.

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [211]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty
df['line_subtotal'] = df['unit_price'] * df['qty']
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year         item_id     category  \
0              17        2023  EUD29711-63-6U        decor
1              20        2023  XDA18116-89-4A  consumables
2               4        2023  ABE59463-05-7E     software
3              17        2023  ZMM00836-65-0C  consumables
4              21        2023  BZX55559-12-3X  consumables
...           ...         ...             ...          ...
54634          17        2023  UCA28532-31-0B     software
54635           6        2023  EBD29277-23-7U  consumables
54636           9        2023  EBD30093-55-9Z  consumables
54637           3        2023  XMZ38239-49-3D    furniture
54638           1        2023  ZCZ05589-50-5D     software

              subcategory  unit_price  unit_cost  unit_weight   qty  \
0                wall art     1096.80     762.71         7.50   105
1                    pens       24.95      15.09         1.49    21
2      project management       13.52       7.86         1.68    39
3                    pens       36.42      24.85         1.23    29
4                    misc      195.10     108.17        46.43    20
...                   ...         ...        ...          ...   ...
54634           logistics       83.13      51.60         2.25    33
54635    kitchen supplies      206.59     175.46        11.70    47
54636   bathroom supplies       65.66      57.31         4.16   475
54637              stands        1.48       1.22        18.04   112
54638  project management        3.01       1.61         2.07  1031

       line_number  line_subtotal
0                1      115164.00
1                0         523.95
2                6         527.28
3                3        1056.18
4                1        3902.00
...            ...            ...
54634            8        2743.29
54635            0        9709.73
54636            6       31188.50
54637            0         165.76
54638            5        3103.31

[54639 rows x 19 columns]

In [212]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.
df['total_weight'] = df['unit_weight'] * df['qty']


def calculate_shipping_price(total_weight):
    if total_weight > 50:
        return total_weight * 7
    else:
        return total_weight *10

df['shipping_price'] = df['total_weight'].apply(calculate_shipping_price)
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ...     category         subcategory  \
0              17        2023  ...        decor            wall art
1              20        2023  ...  consumables                pens
2               4        2023  ...     software  project management
3              17        2023  ...  consumables                pens
4              21        2023  ...  consumables                misc
...           ...         ...  ...          ...                 ...
54634          17        2023  ...     software           logistics
54635           6        2023  ...  consumables    kitchen supplies
54636           9        2023  ...  consumables   bathroom supplies
54637           3        2023  ...    furniture              stands
54638           1        2023  ...     software  project management

      unit_price  unit_cost  unit_weight   qty  line_number  line_subtotal  \
0        1096.80     762.71         7.50   105            1      115164.00
1          24.95      15.09         1.49    21            0         523.95
2          13.52       7.86         1.68    39            6         527.28
3          36.42      24.85         1.23    29            3        1056.18
4         195.10     108.17        46.43    20            1        3902.00
...          ...        ...          ...   ...          ...            ...
54634      83.13      51.60         2.25    33            8        2743.29
54635     206.59     175.46        11.70    47            0        9709.73
54636      65.66      57.31         4.16   475            6       31188.50
54637       1.48       1.22        18.04   112            0         165.76
54638       3.01       1.61         2.07  1031            5        3103.31

       total_weight  shipping_price
0            787.50         5512.50
1             31.29          312.90
2             65.52          458.64
3             35.67          356.70
4            928.60         6500.20
...             ...             ...
54634         74.25          519.75
54635        549.90         3849.30
54636       1976.00        13832.00
54637       2020.48        14143.36
54638       2134.17        14939.19

[54639 rows x 21 columns]

In [213]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%
total_price = df['line_subtotal'] + df['shipping_price']

sales_tax = total_price * 0.0925

df['line_price'] = sales_tax + total_price
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ...         subcategory unit_price unit_cost  \
0              17        2023  ...            wall art    1096.80    762.71
1              20        2023  ...                pens      24.95     15.09
2               4        2023  ...  project management      13.52      7.86
3              17        2023  ...                pens      36.42     24.85
4              21        2023  ...                misc     195.10    108.17
...           ...         ...  ...                 ...        ...       ...
54634          17        2023  ...           logistics      83.13     51.60
54635           6        2023  ...    kitchen supplies     206.59    175.46
54636           9        2023  ...   bathroom supplies      65.66     57.31
54637           3        2023  ...              stands       1.48      1.22
54638           1        2023  ...  project management       3.01      1.61

       unit_weight   qty  line_number  line_subtotal  total_weight  \
0             7.50   105            1      115164.00        787.50
1             1.49    21            0         523.95         31.29
2             1.68    39            6         527.28         65.52
3             1.23    29            3        1056.18         35.67
4            46.43    20            1        3902.00        928.60
...            ...   ...          ...            ...           ...
54634         2.25    33            8        2743.29         74.25
54635        11.70    47            0        9709.73        549.90
54636         4.16   475            6       31188.50       1976.00
54637        18.04   112            0         165.76       2020.48
54638         2.07  1031            5        3103.31       2134.17

       shipping_price     line_price
0             5512.50  131839.076250
1              312.90     914.258625
2              458.64    1077.117600
3              356.70    1543.571400
4             6500.20   11364.403500
...               ...            ...
54634          519.75    3564.871200
54635         3849.30   14813.240275
54636        13832.00   49184.896250
54637        14143.36   15632.713600
54638        14939.19   19711.431250

[54639 rows x 22 columns]

In [214]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).
df['line_cost'] = df['unit_cost'] * df['qty'] + df['shipping_price']
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ... unit_price unit_cost unit_weight   qty  \
0              17        2023  ...    1096.80    762.71        7.50   105
1              20        2023  ...      24.95     15.09        1.49    21
2               4        2023  ...      13.52      7.86        1.68    39
3              17        2023  ...      36.42     24.85        1.23    29
4              21        2023  ...     195.10    108.17       46.43    20
...           ...         ...  ...        ...       ...         ...   ...
54634          17        2023  ...      83.13     51.60        2.25    33
54635           6        2023  ...     206.59    175.46       11.70    47
54636           9        2023  ...      65.66     57.31        4.16   475
54637           3        2023  ...       1.48      1.22       18.04   112
54638           1        2023  ...       3.01      1.61        2.07  1031

       line_number  line_subtotal  total_weight  shipping_price  \
0                1      115164.00        787.50         5512.50
1                0         523.95         31.29          312.90
2                6         527.28         65.52          458.64
3                3        1056.18         35.67          356.70
4                1        3902.00        928.60         6500.20
...            ...            ...           ...             ...
54634            8        2743.29         74.25          519.75
54635            0        9709.73        549.90         3849.30
54636            6       31188.50       1976.00        13832.00
54637            0         165.76       2020.48        14143.36
54638            5        3103.31       2134.17        14939.19

          line_price  line_cost
0      131839.076250   85597.05
1         914.258625     629.79
2        1077.117600     765.18
3        1543.571400    1077.35
4       11364.403500    8663.60
...              ...        ...
54634    3564.871200    2222.55
54635   14813.240275   12095.92
54636   49184.896250   41054.25
54637   15632.713600   14280.00
54638   19711.431250   16599.10

[54639 rows x 23 columns]

In [215]:
# Create a column for the profit of
# each line using line cost and line price
df['line_profit'] = df['line_price'] - df['line_cost']
print(df)

           first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year  ... unit_cost unit_weight   qty  line_number  \
0              17        2023  ...    762.71        7.50   105            1
1              20        2023  ...     15.09        1.49    21            0
2               4        2023  ...      7.86        1.68    39            6
3              17        2023  ...     24.85        1.23    29            3
4              21        2023  ...    108.17       46.43    20            1
...           ...         ...  ...       ...         ...   ...          ...
54634          17        2023  ...     51.60        2.25    33            8
54635           6        2023  ...    175.46       11.70    47            0
54636           9        2023  ...     57.31        4.16   475            6
54637           3        2023  ...      1.22       18.04   112            0
54638           1        2023  ...      1.61        2.07  1031            5

       line_subtotal  total_weight  shipping_price     line_price  line_cost  \
0          115164.00        787.50         5512.50  131839.076250   85597.05
1             523.95         31.29          312.90     914.258625     629.79
2             527.28         65.52          458.64    1077.117600     765.18
3            1056.18         35.67          356.70    1543.571400    1077.35
4            3902.00        928.60         6500.20   11364.403500    8663.60
...              ...           ...             ...            ...        ...
54634        2743.29         74.25          519.75    3564.871200    2222.55
54635        9709.73        549.90         3849.30   14813.240275   12095.92
54636       31188.50       1976.00        13832.00   49184.896250   41054.25
54637         165.76       2020.48        14143.36   15632.713600   14280.00
54638        3103.31       2134.17        14939.19   19711.431250   16599.10

        line_profit
0      46242.026250
1        284.468625
2        311.937600
3        466.221400
4       2700.803500
...             ...
54634   1342.321200
54635   2717.320275
54636   8130.646250
54637   1352.713600
54638   3112.331250

[54639 rows x 24 columns]

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [216]:
# Check your work using the totals above
x1 = df.loc[df['order_id'] == 2742071]['line_price']
print(f"Order 2742071 total: ${x1.sum():0.2f}")

x2 = df.loc[df['order_id'] == 2173913]['line_price']
print(f"Order 2173913 total: ${x2.sum():0.2f}")

x3 = df.loc[df['order_id'] == 6128929]['line_price']
print(f"Order 6128929 total: ${x3.sum():0.2f}")

Order 2742071 total: $152811.90
Order 2173913 total: $162388.72
Order 6128929 total: $923441.24

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [217]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.


lpclient33615 = df.loc[df['client_id'] == 33615]['line_price']
lpclient66037 = df.loc[df['client_id'] == 66037]['line_price']
lpclient46820 = df.loc[df['client_id'] == 46820]['line_price']
lpclient38378 = df.loc[df['client_id'] == 38378]['line_price']
lpclient24741 = df.loc[df['client_id'] == 24741]['line_price']

print(f"33615: ${lpclient33615.sum():0.2f}")
print(f"66037: ${lpclient66037.sum():0.2f}")
print(f"46820: ${lpclient46820.sum():0.2f}")
print(f"38378: ${lpclient38378.sum():0.2f}")
print(f"24741: ${lpclient24741.sum():0.2f}")

33615: $8377308.57
66037: $10259514.80
46820: $9743794.32
38378: $12906550.88
24741: $82268891.98

In [218]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.


# [33615, 66037, 46820, 38378, 24741]

# 	client_id	qty	shipping_price	line_price	line_cost	line_profit
# 4	24741	239862	5126448.37	82268892.02	45688899.71	36579992.31
# 3	38378	73667	3429455.40	12906550.87	9634720.98	3271829.89
# 1	66037	43018	1395151.85	10259514.79	7004482.98	3255031.81
# 2	46820	75768	1601448.84	9743794.36	7007191.64	2736602.72
# 0	33615	64313	1828984.89	8377308.52	6175313.91	2201994.61
# fiveclients = df[df['client_id'].isin(top_clients_list)] 

# summary_df = fiveclients.groupby('client_id').agg(
#                                                  qty = ('qty', 'sum'),
#                                       shipping_price = ('shipping_price', 'sum'),
#                                           line_price = ('line_price', 'sum'),
#                                            line_cost = ("line_cost", "sum"),
#                                          line_profit = ('line_profit', 'sum')
# )
# summary_df = summary_df.sort_values(by='line_profit', ascending=False).astype(int).reset_index()
# top_5_clients_summary = summary_df
# top_5_clients_summary

# summary_df = df.loc[df['client_id'].isin(top_clients_list)].groupby('client_id').agg(
#     total_qty=('qty', 'sum'),
#     total_shipping_price=('shipping_price', 'sum'),
#     total_price = ('line_price', 'sum'),
#     line_cost =("line_cost", "sum"), 
#     line_profit=('line_profit', 'sum')
# )

# summary_df = summary_df.sort_values(by='line_profit', ascending=False).astype(int).reset_index()
# summary_df.head()


# data_dict = {'client_id': top_clients_list}
# columns = ['qty', 'shipping_price', 'line_price', 'line_cost', 'line_profit']
# for col in columns:
#     data_dict[col] = [client_totals(client_id, col) for client_id in top_clients_list]
    
# summary_df = pd.DataFrame(data_dict).sort_values('line_profit', ascending=False)
# summary_df






######
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

summary_df = df.loc[df['client_id'].isin(top_clients_list)].groupby('client_id').agg(
    total_qty=('qty', 'sum'),
    total_shipping_price=('shipping_price', 'sum'),
    total_price=('line_price', 'sum'),
    line_cost=("line_cost", "sum"), 
    line_profit=('line_profit', 'sum')
)


summary_df = summary_df.sort_values(by='line_profit', ascending=False).astype(int).reset_index()
summary_df.head()

,client_id,total_qty,total_shipping_price,total_price,line_cost,line_profit
0,24741,239862,5126448,82268891,45688899,36579992
1,38378,73667,3429455,12906550,9634720,3271829
2,66037,43018,1395151,10259514,7004482,3255031
3,46820,75768,1601448,9743794,7007191,2736602
4,33615,64313,1828984,8377308,6175313,2201994

In [219]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.
summary_df.columns =["Client ID", "Units", "Shipping", "Total Revenue", "Total Cost", "Total Profit"]
formatting_list = ["Shipping", "Total Revenue", "Total Cost", "Total Profit"]
for col in formatting_list:
    
    summary_df[col] = summary_df[col] / 1000000
    summary_df[col] = summary_df[col].map("${:,.2f}M".format)

In [220]:
# Sort the updated data by "Total Profit" form highest to lowest
summary_df.sort_values("Total Profit", ascending = False)

   Client ID   Units Shipping Total Revenue Total Cost Total Profit
0      24741  239862   $5.13M       $82.27M    $45.69M      $36.58M
1      38378   73667   $3.43M       $12.91M     $9.63M       $3.27M
2      66037   43018   $1.40M       $10.26M     $7.00M       $3.26M
3      46820   75768   $1.60M        $9.74M     $7.01M       $2.74M
4      33615   64313   $1.83M        $8.38M     $6.18M       $2.20M